* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#logo {
  max-width: 80px;
}

.navbar {
  top: 0;
  background: white;
  z-index: 10;
  margin: 0 30px;
  max-width: 900px;
  padding: 35px 0;
}

@media screen and (min-width: 964px) {
  .navbar {
    margin: 0 auto;
  }
}
.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: block;
  overflow: hidden;
  padding-bottom: 40px;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}
.main-nav li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 10px;
}

a.animate:after {
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #0F6BFF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.current {
  color: #0F6BFF !important;
}

a.animate:hover:after {
  width: 100%;
  left: 0;
}

.submit {
  padding-top: 15px;
}

#download-btn {
  background-color: #0F6BFF;
  color: #ffffff;
  padding: 12px;
  border-radius: 4px;
}

#download-btn:hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.36);
  transition: 0.2s ease-out;
}

.navbar-toggle {
  font-size: 28px;
  position: absolute;
  top: 53px;
  right: 30px;
  cursor: pointer;
  color: #000000;
  transition: color 0.1s ease-out;
}

.navbar-toggle:hover {
  color: #0F6BFF;
  transition: color 0.1s ease-out;
}

@media screen and (min-width: 900px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: inherit;
    padding-bottom: 0;
  }
  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 30px;
  }

  .navbar-toggle {
    display: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  a.animate:after {
    transition: none;
  }
}